html, body {
  margin: 0;
  padding: 0;
  background-image: url("assets/img/estrada.png");
  text-align: center;
}

canvas {
  display: block;
}

main {
  margin: 1em 35em;
}

.cabecalho {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 300;
}

.titulo__cabecalho {
  margin: 1em 0;
  font-weight: 500;
}